personal_env.py
airflow/webserver_config.py
*.log
*.complete
*.pyc
*.pid
*.out
*.err
*.cfg
*.db
*.txt
*.avro
*.xlsx
*.parquet
pipelines/cloud_manager/write_parquets.ipynb
airflow/logs/scheduler/latest
.DS_Store
dagster_university/data/staging/data.duckdb
